<style>
  ${style}
</style>
<div id="block-title">${title}</div>
<div id="block-info">
  <div id="block-view">
    <div id="block-preview"></div>
    <div id="drop-down">
      <i class="iconfont icon-down"></i>
    </div>
    <div id="code-wrapper">
      <pre
        id="block-code"
      ><code class="language-javascript">${preview_code}</code></pre>
      <i class="iconfont icon-fullscreen"></i>
    </div>
  </div>
  <div id="block-meta">
    <p>基本信息：</p>
    <p>
      所属分类：<% _.forEach(categories, function(category) { %><span
        class="block-tag"
        ><%- category %></span
      ><% }); %>
    </p>
  </div>
</div>
<div id="block-desc">${desc}</div>
<div id="editor-panel">
  <div id="editor-preview">
    <div id="preview-entity"></div>
    <i class="iconfont icon-mini"></i>
  </div>
  <div id="editor-code"></div>
  <button id="dep-inject">依赖注入</button>
  <div id="inject-toast"><i class="iconfont icon-sucess"></i>注入成功！你可以在代码中使用相关全局变量</div>
  <div id="inject-dialog">
    <div>
      <input type="text" placeholder="比如 https://unpkg.com/react@16.8.6/umd/react.production.min.js " id="link">
    </div>
    <div id="inject-sure"><button>确定</button></div>
  </div>
</div>
<div id="code" style="display: none">${origin_code}</div>
<script>
  // Expand code
  var oCode = $("#code-wrapper");
  var oEditor;
  // Compile es6 code to umd code;
  function compileToUmd(originCode) {
    var result = Babel.transform(originCode, {
      presets: ["es2015", "react"],
      plugins: [
        [
          "transform-modules-umd",
          {
            globals: {
              bizcharts: "BizCharts",
              react: "React",
              "react-dom": "ReactDOM",
              _: "lodash",
              numeral: "numeral"
            }
          }
        ]
      ]
    });

    return result.code.replace(
      /mountNode/g,
      'document.getElementById("preview-entity")'
    );
  }
  // Update preview
  function updatePreview() {
    var currentCode = oEditor.getValue();
    var umdCode = compileToUmd(currentCode);
    eval(umdCode);
  }
  // Show code
  $("#drop-down").click(() => {
    oCode.slideToggle(300);
  });
  // Fullscreen the editor
  $(".icon-fullscreen").click(function() {
    $("#editor-panel").addClass("show");
    $("body").addClass("noscroll");
    var code = decodeURIComponent($("#code").text());
    oEditor = CodeMirror(document.querySelector("#editor-code"), {
      value: code,
      mode: "javascript"
    });
    oEditor.on("change", _.debounce(updatePreview, 600));
    // Compile when initialize
    updatePreview();
  });
  // Collapse the editor
  $(".icon-mini").click(function() {
    $("#editor-panel").removeClass("show");
    $("body").removeClass("noscroll");
    $("#editor-code").empty();
  });
  // Show dependency inject dialog
  $("#dep-inject").click(function() {
    $("#inject-dialog").toggle();
  });
  // Start inject
  $("#inject-sure").click(function() {
    var iLink = $("#link").val();
    if (!iLink) return;

    $.ajax({
      url: iLink,
      dataType: 'script',
      success: function() {
        $("#inject-toast").show();
        $("#link").val("");
        setTimeout(() => {
          $("#inject-toast").hide();
        }, 3000);
      },
      async: true
    });

    $("#inject-dialog").hide();
  })
</script>