<style>
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: auto;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    min-height: 25px;
    min-width: 25px;
    border: 1px solid #e0e0e0;
  }
  ::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border: 1px solid #efefef;
  }
  body {
    padding: 64px;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
  }
  .noscroll {
    height: 100vh;
    overflow: hidden;
  }
  #block-title {
    font-size: 24px;
    margin-bottom: 36px;
  }
  #block-info {
    display: flex;
    align-items: flex-start;
  }
  #block-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e3e3e3;
    margin-right: 24px;
  }
  #block-preview {
    display: flex;
    justify-content: center;
  }
  #code-wrapper {
    position: relative;
    max-height: 500px;
    overflow: auto;
    padding: 16px 32px;
    display: none;
  }
  #block-code {
    margin: 0;
  }
  .icon-fullscreen {
    position: sticky;
    bottom: calc(100% - 26px);
    float: right;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0,0,0,.6);
  }
  #block-meta {
    width: 350px;
    border: 1px solid #e3e3e3;
    padding: 16px;
  }
  .block-tag {
    border-radius: 4px;
    background: #5d5df4;
    color: #fff;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 8px;
    font-size: 14px;
  }
  #drop-down {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  #block-desc {
    margin-top: 24px;
  }
  #editor-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }
  #editor-panel.show {
    display: flex;
  }
  #editor-preview {
    width: 50vw;
    height: 100vh;
    overflow: auto;
    border:1px solid grey;
    border-right: none;
    position: relative;
  }
  #preview-entity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .icon-mini {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0,0,0,.6);
  }
  #editor-code {
    width: 50vw;
    height: 100vh;
    overflow: auto;
    border:1px solid grey;
  }
</style>
<div id="block-title">${title}</div>
<div id="block-info">
  <div id="block-view">
    <div id="block-preview"></div>
    <div id="drop-down">
      <i class="iconfont icon-down"></i>
    </div>
    <div id="code-wrapper">
      <pre id="block-code"><code class="language-javascript">${preview_code}</code></pre>
      <i class="iconfont icon-fullscreen"></i>
    </div>
  </div>
  <div id="block-meta">
    <p>基本信息：</p>
    <p>
      所属分类：<% _.forEach(categories, function(category) { %><span
        class="block-tag"
        ><%- category %></span
      ><% }); %>
    </p>
  </div>
</div>
<div id="block-desc">${desc}</div>
<div id="editor-panel">
  <div id="editor-preview">
    <div id="preview-entity"></div>
    <i class="iconfont icon-mini"></i>
  </div>
  <div id="editor-code"></div>
</div>
<div id="code" style="display: none">${origin_code}</div>
<script type="text/babel">
  ${umdCode}
</script>
<script>
  const warningPkgs = "${warningPkgs}";
  if (warningPkgs.length) {
    console.warn(
      "检测到以下非官方包：",
      warningPkgs,
      "请确保在 skeleton.html 引入了这些包的 cdn 资源！"
    );
  }
  // 展开代码
  var oCode = $("#code-wrapper");
  $("#drop-down").click(() => {
    oCode.slideToggle(300);
  });
  function onEditorContentChange(event) {
    const newContent = monacoInstance.getValue();
    evalCode(newContent);
  }
  function evalCode(code) {
    code = code.replace(/import(.+)from\s+"bizcharts"/, "const $1 = BizCharts").replace(/mountNode/g, 'document.getElementById("preview-entity")');
    $("#temp-eval").remove();
    $("body").append('<script type="text/babel" id="temp-eval">' + code + '<\/script>');
    Babel.transformScriptTags();
  }
  var monacoInstance;
  // 展开代码编辑器
  $(".icon-fullscreen").click(function() {
    $("#editor-panel").addClass('show');
    $("body").addClass("noscroll");
    var code = decodeURIComponent($("#code").text());
    var oEditor = document.querySelector("#editor-code");
    console.log()
    monacoInstance = monaco.editor.create(oEditor, {
      value: code,
      language: 'javascript'
    });

    monacoInstance.onDidChangeModelContent(_.debounce(onEditorContentChange, 1000));
    setTimeout(() => {
      evalCode(code);
    }, 100);
  });
  // 收起代码编辑器
  $(".icon-mini").click(function() {
    $("#editor-panel").removeClass('show');
    $("body").removeClass("noscroll");
    monacoInstance.dispose();
  })
</script>
